.bigCounter{
    text-align: center;
    background: #101010;
}

.clock{
    
}

.bigCounter div{
    display: inline-block;
    font-size: 80px;
    line-height: 80px;
    height: 80px;
    background: #101010;
    color: white;
    margin: 4px;


}

.button{
    margin-bottom: 45px;
    margin-left: 10px;
}

